<td>
  <input type="checkbox" (change)="userSelected(user)" [(ngModel)]="user.selected" />
</td>
<td>{{user.Id}}</td>
<td>{{user.FirstName}}</td>
<td>{{user.LastName}}</td>
<td>{{user.Email}}</td>
<td>{{user.Country}}</td>
<td>{{user.BirthDate}}</td>
<td>
  <button class="btn btn-xs btn-default" ng-click="$ctrl.show($ctrl.user)"><span class="glyphicon glyphicon-user"></span> Show</button>  |
  <button class="btn btn-xs btn-warning" ng-click="$ctrl.edit($ctrl.user)"><span class="glyphicon glyphicon-pencil"></span> Edit</button>  |
  <button class="btn btn-xs btn-danger" ng-click="$ctrl.delete($ctrl.user)"><span class="glyphicon glyphicon-remove"></span> Delete</button>
</td>
